* {
	padding: 0;
	margin: 0;
	/* border: 1px solid red; */
}
.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.title {
	display: flex;
	justify-content: center;
	margin-left: 128px;
	margin-top: 80px;
	margin-bottom: 10px;
}

.left-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.right-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 600px;
	height: 600px;
	border: 1px solid black;
}

#g16 {
	width: 37.5px;
	height: 37.5px;
	flex-wrap: wrap;
}
#g32 {
	width: 18.75px;
	height: 18.75px;
	flex-wrap: wrap;
}
#g64 {
	width: 9.375px;
	height: 9.375px;
	flex-wrap: wrap;
}

button {
	background-color: #034159;
	color: white;
	padding: 0.5rem 2rem;
	border: 2px solid silver;
	border-radius: 12px;
	cursor: pointer;
}
